html body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}
html body{
    background-color:#011126;
    color:white;
    
}
#clock{
    text-align: center;
    font-size: 15em;
    font-family: 'Lato', sans-serif;
    
}
#lionAlert{
    text-align: center;
    background-color:gold;
    border:solid 1px red;
    border-radius: 5px;
    color:black;
    margin-top:1%;
    box-shadow: 5px 5px 2px red;
}
#lionAlert h1{
    
}
#lionAlert h2{
    font-size: 2em;
}
.classModeContainer{
    margin-top: 3%;
    line-height: 8em;
    font-size: 1.5em;
}
.classModeWeather{
    margin-left: 3%;
    color:#ea0e0e;
}
.libraryModeWeather{
    margin-top: 7%;
    color:#ea0e0e;
}
.libContainer{
    font-size:1.5em;
}
p, h2{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 4em;    
    }
#date{
    font-size: 4.5em;
}

.col-md-6{
    text-align: center;
}
h3{
    font-size:3em;
}
#closingTime{
    font-size:3em;
}
.row{
    margin-top: 10%;
}
.rightborder{
    border-top: 1px solid white;
}
.leftborder{
    border-left: 1px solid white;
    border-top: 1px solid white;
}
.nightModeBody{
    background-color: black;
    color: white;
}
.nightTimeCircle{
    border: 10px solid yellow;
    width: 70%;
    border-radius: 1000px;
    height: 750px;
    margin-left: auto;
    margin-right: auto;
}
.nightTime{
    width: 60%;
    margin-left: 16.5%;
    text-align: center;
    font-size: 15em;
    font-family: 'Lato', sans-serif;
    margin-top: 15%;
}
.col-md-6 .classImage{
    width: 20%;
    margin-top: -11%;
}
.nightImage{
    width: 10%;
    margin-top: -6%;
}
.nightDiv{
    margin-top: -33%;
    font-size: 1.5em;
}
.nightContent{
    margin-top: 3%;
}
.nightWeather{
    padding-top: 2%;
}
.barContainer{
    
    text-align: center;
    
  
    
}
.hourBar{
    width: 10%;
    height: 500px;
    background-color: red;
    display: inline-block;
    border-radius: 10px;
}
.minuteBar{
    width: 10%;
    height: 500px;
    background-color: green;
    display: inline-block;
    border-radius: 10px;
    margin-left: 20%;

}
.heightBar{
    
    height: 500px;
    background-color: yellow;
    display: inline-block;
    border-radius: 10px;
}
.FancyTime{
    font-size: 15em;
    
}